// header {
//     #container-header {
//         padding: 1.2em;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         background-color: $as;
        
//         ul {
//             display: flex;
            
//             li {
//                 padding-right: 1.5em;
//                 list-style: none;

//                 a {
//                     text-decoration: none;
                    
//                 }
//                 :hover {
//                     color: $base-color;
//                     transition: .2s;
//                 }
//             }
//         }
//         h1 {
//             cursor: pointer;
//             text-transform: uppercase;
//             :hover {
//                 color: $base-color;
//                 transition: .2s;
//             }
//         }
//     }
//     section {
//         padding: 5em;
//         display: flex;
//         justify-content: space-evenly;        
//     }
// }

header {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
    h1 {
        text-transform: uppercase;
    }
}